<% flash.each do |flash_type, message| %>
  <div 
    class="bg-gradient-to-t from-green-500 to-green-600 text-white p-3 rounded-md mb-3 flex justify-between items-center animate-fade-in"
    data-action="animationend->removals#remove"
    data-controller="removals"
  >
    <%= message %>
  </div>
<% end %>
